.header{
  background: linear-gradient(to bottom , #bdd9fe,#f7ebff)
}
.pannel {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center; 
}
.city{
  color: #fff;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.tempDesc{
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center; 

}
.temperature{
  color: #fff;
  font-size: 75px;
}
.descImage{
  width:26px;
  height:23px;
  padding-top:55px;
  padding-left: 10px;  
}
.description{
  color: #666;
  font-size: 14px;
  padding-left: 5px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 300px;
  height: 137px;
  background-color: #fff;
  border-radius: 180px;
  box-shadow: 3px 3px 10px #EBF1F9,-3px -3px 10px #EBF1F9
}
.dataBox{
  width: 120px;
  padding-left: 30px;
}
.typeStr {
  color: #bdd9fe;
  font-size: 22px;
}
.num{
  font-size: 45px;
  color: #777
}
.unit {
  font-size: 12px;
  padding-left: 5px;
}
.imgCircle{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* background: #89b7fc; */
}
